<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Библиотекарь</title>
    <link href="/css/pages/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
      <div class="page">
      {{> header}}

      {{{body}}}

      {{> footer}}
      </div>
  </body>
</html>
