<section class="work-with-book">
  <h1>Работа с книгой</h1>
  <form name="userForm">
    <input type="hidden" name="id" value="0" />
    <div class="form-group">
      <label for="name">Название:</label>
      <input class="form-control" name="name" />
    </div>
    <div class="form-group">
      <label for="author">Автор:</label>
      <input class="form-control" name="author"/>
    </div>
    <div class="form-group">
      <label for="genre">Жанр:</label>
      <input class="form-control" name="genre"/>
    </div>
    <div class="panel-body">
      <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
      <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
    </div>
  </form>
  <a href="/index">К списку книг</a>
</section>
